/*html, body, #wrapper {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    border:0;
}
table#wrapper {
    height:75%;
}
#wrapper td {
vertical-align:middle;
text-align:center;
}*/
iframe.drawioEditor {
    border:0;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:100;
}
                   
