<div id="dlg_redmine_drawio" title="<%= l(:drawio_dlg_title) %>" style="display:none">
  <form id="drawio_form">
    <fieldset>
      <div class="tabular">
        <p>
          <label for="drawio__P1"><%= l(:drawio_dlg_diagName) %> <span class="required">*</span></label>
          <input type="text" name="drawio__P1" id="drawio__P1" size="32"/>
        </p>
        <p>
          <label for="drawio_diagType"><%= l(:drawio_dlg_diagType) %></label>
          <input type="radio" name="drawio_diagType" value="png" checked="checked"/>PNG
          <input type="radio" name="drawio_diagType" value="svg" style="margin-left:1em"/>SVG
        </p>
        <p>
          <label for="drawio_size"><%= l(:drawio_dlg_size) %></label>
          <input type="text" name="drawio_size" id="drawio_size" class="digits" size="4" maxlength="4"/> pixel
        </p>
      </div>
    </fieldset>
  </form>
</div>
