<div id="dlg_redmine_drawio" title="Add new diagram macro" style="display:none">
  <form>
    <fieldset>
      <div class="tabular">
        <p>
          <label for="drawio_diagName">Diagram name <span class="required">*</span></label>
          <input type="text" name="drawio_diagName" id="drawio_diagName" size="32"/>
        </p>
      </div>
    </fieldset>
  </form>
</div>
